*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 350px;
    height: auto;
    border-radius: 10px;
}

h1{
    color: #fff;
    font-size: 2.5rem;
}

h1 + p{
    color: #808080;
    line-height: 1.6;
}

#content{
    font-family: system-ui, sans-serif;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header{
    font-size: 1.2rem;
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1em;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}

.navbar ul a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 0.8em 1em;
}

.navbar ul a:hover{
    background-color: #808080;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #212529;
    padding: 0 15em;
}

.footer{
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}